.header {
  flex-direction: row;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.appStyle{
  /* background-color: blue;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: blue;
  margin: 40px;
  box-shadow: 5px 5px 20px  red;
  font-size: 50px;
    color: white;
}